.edit{
    border: none;
    outline: none;
    margin-right: 5px;
    padding: 2px 6px;
    border-radius: 3px;
    background-color: rgb(119, 193, 8);
}

.delete{
    border: none;
    outline: none;
    padding: 2px 3px;
    border-radius: 3px;
    background-color: rgb(237, 81, 81);
}